@import "tailwindcss";

:root {
  --color-primary: #4178ac;
  --color-primary-light: #c8dcf6;
  --color-accent-dark: #494a52;
  --color-accent-blue: #488be2;
}

@theme inline {
  --color-primary: #4178ac;
  --color-primary-light: #c8dcf6;
  --color-accent-dark: #494a52;
  --color-accent-blue: #488be2;
  --font-sans: var(--font-montserrat), sans-serif;
}

body {
  background: #ffffff;
  color: var(--color-accent-dark);
  font-family: var(--font-montserrat), sans-serif;
}
